{{#if message}}
  <div class="alert alert-info">{{message}}</div>
{{/if}}
{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if delayedCheckouts}}
<h2>{{t 'checkouts.delayed_checkouts'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      <li class="header-item">
        <div class="row">
          <div class="col-xs-8 col-md-7"><strong>{{t 'checkouts.title'}}</strong></div>
          <div class="col-xs-4 col-md-2"><strong>{{t 'checkouts.due_date'}}</strong></div>
          <div class="col-md-2 hidden-xs hidden-sm"><strong>{{t 'checkouts.status'}}</strong></div>
          <div class="col-md-1 hidden-xs hidden-sm"></div>
        </div>
      </li>
      {{#each checkout in delayedCheckouts}}
      <li class="loan-item">
        <div class="row">
          <div class="col-xs-8 col-md-7">
            <div>
              <div {{bind-attr class=":title checkout.isCollapsed:collapsed"}}><a href=""{{action 'toggleCollapsed' checkout}}>{{checkout.title}}</a></div>
              <div class="notes"><span class="name">{{t 'checkouts.barcode'}}</span><span class="value">{{checkout.barcode}}</span></div>
              <div class="notes"><span class="name">{{t 'checkouts.recallable_by'}}</span><span class="value">{{format-date checkout.recallable_date}}</span></div>
            </div>
          </div>
          <div class="col-xs-4 col-md-2">{{format-date checkout.due_date}}<br/>({{checkout.dueDateRelative}})</div>
          <div class="col-xs-12 col-md-2">
            <div class="notes">
              <span class="name visible-xs-inline visible-sm-inline">{{t 'checkouts.status'}}:</span><span class="value responsive">{{checkout.statusString}}</span>
            </div>
          </div>
          {{#if checkout.renewableBool}}
            <div class="col-xs-12 col-md-1"><a class="btn btn-primary pull-right" {{action renew checkout.checkout_id}} role="button"><i class="fa fa-undo"></i></a></div>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

<h2>{{t 'checkouts.current_checkouts'}}</h2>
{{#if checkouts}}
<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      <li class="header-item">
        <div class="row">
          <div class="col-xs-8 col-md-7"><strong>{{t 'checkouts.title'}}</strong></div>
          <div class="col-xs-4 col-md-2"><strong>{{t 'checkouts.due_date'}}</strong></div>
          <div class="col-md-2 hidden-xs hidden-sm"><strong>{{t 'checkouts.status'}}</strong></div>
          <div class="col-md-1 hidden-xs hidden-sm"></div>
        </div>
      </li>
      {{#each checkout in checkouts}}
      <li class="loan-item">
        <div class="row">
          <div class="col-xs-8 col-md-7">
            <div>
              <div {{bind-attr class=":title checkout.isCollapsed:collapsed"}}><a href=""{{action 'toggleCollapsed' checkout}}>{{checkout.title}}</a></div>
              <div class="notes"><span class="name">{{t 'checkouts.barcode'}}</span><span class="value">{{checkout.barcode}}</span></div>
              <div class="notes"><span class="name">{{t 'checkouts.recallable_by'}}</span><span class="value">{{format-date checkout.recallable_date}}</span></div>
            </div>
          </div>
          <div class="col-xs-4 col-md-2">{{format-date checkout.due_date}}<br/>({{checkout.dueDateRelative}})</div>
          <div class="col-xs-12 col-md-2">
            <div class="notes">
              <span class="name visible-xs-inline visible-sm-inline">{{t 'checkouts.status'}}:</span><span class="value responsive">{{checkout.statusString}}</span>
            </div>
          </div>
          {{#if checkout.renewableBool}}
            <div class="col-xs-12 col-md-1"><a class="btn btn-primary pull-right" {{action renew checkout.checkout_id}} role="button"><i class="fa fa-undo"></i></a></div>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}