{{#if pickupRequests}}
 <h2>{{t 'requests.pickup_requests'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      <li class="header-item">
        <div class="row">
          <div class="col-xs-8 col-md-7"><strong>{{t 'requests.title'}}</strong></div>
          <div class="col-xs-4 col-md-2"><strong>{{t 'requests.queue'}}</strong></div>
          <div class="col-md-2 hidden-xs hidden-sm"><strong>{{t 'requests.status'}}</strong></div>
          <div class="col-md-1 hidden-xs hidden-sm"></div>
        </div>
      </li>
      {{#each request in pickupRequests}}
      <li class="loan-item">
        <div class="row">
          <div class="col-xs-8 col-md-7">
            <div>
              <div {{bind-attr class=":title request.isCollapsed:collapsed"}}><a href=""{{action 'toggleCollapsed' request}}>{{request.title}}</a></div>
              <div class="notes"><span class="name">{{t 'requests.pickup_location'}}</span><span class="value">{{request.pickup_location}}</span></div>
              <div class="notes"><span class="name">{{t 'requests.expiration_date'}}</span><span class="value">{{format-date request.expiration_date}}</span></div>
            </div>
          </div>
          <div class="col-xs-4 col-md-2">4</div>
          <div class="col-xs-12 col-md-2">
            <div class="notes">
              <span class="name visible-xs-inline visible-sm-inline">{{t 'requests.status'}}:</span><span class="value responsive">{{request.statusString}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-1"><a class="btn btn-primary pull-right" href="#" role="button"><i class="fa fa-times"></i></a></div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

<h2>{{t 'requests.ordered_requests'}}</h2>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-unstyled">
      <li class="header-item">
        <div class="row">
          <div class="col-xs-8 col-md-7"><strong>{{t 'requests.title'}}</strong></div>
          <div class="col-xs-4 col-md-2"><strong>{{t 'requests.queue'}}</strong></div>
          <div class="col-md-2 hidden-xs hidden-sm"><strong>{{t 'requests.status'}}</strong></div>
          <div class="col-md-1 hidden-xs hidden-sm"></div>
        </div>
      </li>
      {{#each request in requests}}
      <li class="loan-item">
        <div class="row">
          <div class="col-xs-8 col-md-7">
            <div>
              <div {{bind-attr class=":title request.isCollapsed:collapsed"}}><a href=""{{action 'toggleCollapsed' request}}>{{request.title}}</a></div>
              <div class="notes"><span class="name">{{t 'requests.pickup_location'}}</span><span class="value">{{request.pickup_location}}</span></div>
              <div class="notes"><span class="name">{{t 'requests.expiration_date'}}</span><span class="value">{{format-date request.expiration_date}}</span></div>
            </div>
          </div>
          <div class="col-xs-4 col-md-2">4</div>
          <div class="col-xs-12 col-md-2">
            <div class="notes">
              <span class="name visible-xs-inline visible-sm-inline">{{t 'requests.status'}}:</span><span class="value responsive">{{request.statusString}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-1"><a class="btn btn-primary pull-right" href="#" role="button"><i class="fa fa-times"></i></a></div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

